@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PARTY!</title>
</head>
<body>
    <div>
        <div>
            We're going to have an exciting party.<br /><br />
            <img src="~/images/party-family.jpg" alt="family-party" style="width:50%;height:50%;">
        </div>
        <a asp-action="RsvpForm">RSVP Now</a>
    </div>
</body>
</html>
